# OS
.DS_Store
.DS*
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
target/

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Secrets
*.json
!package.json
*.pem
*.key
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Kubernetes
*.bak